<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds">
  
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %X{traceId:-} [${LOG_LEVEL_PATTERN:-%5p}] [%thread] %C{40}:%L ## %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="log4jdbc.log4j2" level="OFF" />
  <logger name="jdbc.sqlonly" level="OFF" />
  <logger name="jdbc.audit" level="OFF" />
  <logger name="jdbc.resultset" level="OFF" />
  <logger name="jdbc.connection" level="OFF" />
  
  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
