<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.custom.api.dao.MybatisSampleDao">
  
  <select id="allScientists">
    SELECT /* MybatisSampleDao.allScientists */
           A.id
           , A.name
           , A.birth_year
           , A.death_year
           , A.fos_cd
           , J.cd_nmm AS fos_nm
    FROM   pt_scientist A
      LEFT OUTER JOIN sy_code J ON A.fos_cd = J.cd AND J.cd_grp = 'FOS'
    ORDER BY A.birth_year DESC
  </select>
  
  <select id="findScientistById">
    SELECT /* MybatisSampleDao.findScientistById */
           A.id
           , A.name
           , A.birth_year
           , A.death_year
           , A.fos_cd
           , (SELECT S.cd_nm from sy_code S WHERE S.cd_grp = 'FOS' AND A.fos_cd = S.cd) AS fos_nm
           , A.create_id
           , A.create_time
           , (SELECT mgr_name FROM au_manager WHERE id = A.create_id) AS create_name
           , A.modify_id
           , A.modify_time
           , (SELECT mgr_name FROM au_manager WHERE id = A.modify_id) AS modify_name
    FROM   pt_scientist A
    WHERE  A.id = #{id}
  </select>
  
  <select id="findScientists">
    SELECT /* MybatisSampleDao.findScientists */
           A.id
           , A.name
           , A.birth_year
           , A.death_year
           , A.fos_cd
           , (SELECT S.cd_nm from sy_code S WHERE S.cd_grp = 'FOS' AND A.fos_cd = S.cd) AS fos_nm
    FROM   pt_scientist A
    ORDER BY A.birth_year DESC
  </select>
  
  <select id="searchScientists">
    SELECT /* MybatisSampleDao.searchScientists */
           A.id
           , A.name
           , A.birth_year
           , A.death_year
           , A.fos_cd
           , (SELECT S.cd_nm from sy_code S WHERE S.cd_grp = 'FOS' AND A.fos_cd = S.cd) AS fos_nm
           , A.create_id
           , A.create_time
           , (SELECT mgr_name FROM au_manager WHERE id = A.create_id) AS create_name
           , A.modify_id
           , A.modify_time
           , (SELECT mgr_name FROM au_manager WHERE id = A.modify_id) AS modify_name
    FROM   pt_scientist A
    <where>
      <if test="name != null and !''.equals(name)">
        AND UPPER(A.name) LIKE '%' || UPPER(#{name}) || '%'
      </if>
      <if test="fosCd != null and !''.equals(fosCd)">
        AND UPPER(A.fos_cd) LIKE '%' || UPPER(#{fosCd}) || '%'
      </if>
    </where>
    ORDER BY A.birth_year DESC
  </select>
  
  <insert id="addScientist">
    INSERT /* MybatisSampleDao.addScientist */
      INTO pt_scientist (
        name
        , birth_year
        , death_year
        , fos_cd
        , create_time
        , modify_time
        , create_id
        , modify_id
      ) VALUES (
        #{name}
        , #{birthYear}
        , #{deathYear}
        , #{fosCd}
        , now()
        , now()
        , #{createId}
        , #{modifyId}
      )
  </insert>
  
  <update id="modifyScientistById">
    UPDATE /* MybatisSampleDao.modifyScientistById */
           scientist
       SET name = #{name}
           , birth_year = #{birthYear}
           , death_year = #{deathYear}
           , fos_cd = #{fosCd}
           , modify_time = now()
           , modify_id = #{modifyId}
     WHERE id = #{id}
  </update>
  
  <delete id="removeScientistById">
    DELETE /* MybatisSampleDao.removeScientistById */
      FROM scientist
     WHERE id = #{id}
  </delete>
  
</mapper>
