<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.custom.api.dao.MybatisSampleDao">
  
  <select id="allScientists" resultType="ScientistVo">
    SELECT /* MybatisCrudDao.allScientists */
           *
    FROM   scientist
    ORDER BY birth_year DESC
  </select>
  
  <select id="findScientistById" resultType="ScientistVo">
    SELECT /* MybatisCrudDao.findScientistById */
           *
    FROM   scientist
    WHERE  id = #{id}
  </select>
  
  <select id="findScientists">
    SELECT /* MybatisCrudDao.findScientists */
           *
    FROM   scientist
    ORDER BY birth_year DESC
  </select>
  
  <select id="searchScientists" resultType="ScientistVo">
    SELECT /* MybatisCrudDao.searchScientists */
           *
    FROM   scientist
    <if test="name != null and !''.equals(name)">
      WHERE UPPER(name) LIKE '%' || UPPER(#{name}) || '%'
    </if>
    ORDER BY birth_year DESC
  </select>
  
  <insert id="addScientist">
    INSERT /* MybatisCrudDao.addScientist */
      INTO scientist (
        name,
        birth_year,
        death_year,
        create_date,
        modify_date,
        create_id,
        modify_id
      ) VALUES (
        #{name},
        #{birthYear},
        #{deathYear},
        now(),
        now(),
        #{createId},
        #{modifyId}
      )
  </insert>
  
  <update id="modifyScientistById">
    UPDATE /* MybatisCrudDao.modifyScientistById */
           scientist
       SET name = #{name},
           birth_year = #{birthYear},
           death_year = #{deathYear},
           modify_date = now(),
           modify_id = #{modifyId}
     WHERE id = #{id}
  </update>
  
  <delete id="removeScientistById">
    DELETE /* MybatisCrudDao.removeScientistById */
      FROM scientist
     WHERE id = #{id}
  </delete>
  
</mapper>
