<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.custom.api.dao.MybatisSampleDao">
  
  <select id="allScientists">
    SELECT /* MybatisSampleDao.allScientists */
           A.id
           , A.name
           , A.birth_year
           , A.death_year
           , A.fos_cd
           , J.cd_nm AS fos_nm
    FROM   pt_scientist A
      LEFT OUTER JOIN sy_code J ON A.fos_cd = J.cd AND J.cd_grp = 'scientist:fos'
    ORDER BY A.birth_year DESC
  </select>
  
  <select id="findScientistById">
    SELECT /* MybatisSampleDao.findScientistById */
           A.id
           , A.name
           , A.birth_year
           , A.death_year
           , A.fos_cd
           , (SELECT S.cd_nm from sy_code S WHERE S.cd_grp = 'scientist:fos' AND A.fos_cd = S.cd) AS fos_nm
           , A.create_id
           , A.create_time
           , (SELECT mgr_name FROM au_manager WHERE id = A.create_id) AS create_name
           , A.modify_id
           , A.modify_time
           , (SELECT mgr_name FROM au_manager WHERE id = A.modify_id) AS modify_name
    FROM   pt_scientist A
    WHERE  A.id = #{id}
  </select>
  
  <select id="findImageByScientistId">
    SELECT /* MybatisSampleDao.findImageByScientistId */
           A.id
           , A.scientist_id
           , A.seq
           , A.format
           , A.image_desc
           , A.image_date
           , A.create_id
           , A.create_time
           , (SELECT mgr_name FROM au_manager WHERE id = A.create_id) AS create_name
           , A.modify_id
           , A.modify_time
           , (SELECT mgr_name FROM au_manager WHERE id = A.modify_id) AS modify_name
    FROM   pt_scientist_image A
    WHERE  A.scientist_id = #{scientistId}
    ORDER BY A.seq
  </select>
  
  <select id="findScientists">
    SELECT /* MybatisSampleDao.findScientists */
           A.id
           , A.name
           , A.birth_year
           , A.death_year
           , A.fos_cd
           , (SELECT S.cd_nm from sy_code S WHERE S.cd_grp = 'scientist:fos' AND A.fos_cd = S.cd) AS fos_nm
    FROM   pt_scientist A
    ORDER BY A.birth_year DESC
  </select>
  
  <select id="searchScientists">
    SELECT /* MybatisSampleDao.searchScientists */
           A.id
           , A.name
           , A.birth_year
           , A.death_year
           , A.fos_cd
           , (SELECT S.cd_nm from sy_code S WHERE S.cd_grp = 'scientist:fos' AND A.fos_cd = S.cd) AS fos_nm
           , A.create_id
           , A.create_time
           , (SELECT mgr_name FROM au_manager WHERE id = A.create_id) AS create_name
           , A.modify_id
           , A.modify_time
           , (SELECT mgr_name FROM au_manager WHERE id = A.modify_id) AS modify_name
    FROM   pt_scientist A
    <where>
      <if test="name != null and !''.equals(name)">
        AND UPPER(A.name) LIKE '%' || UPPER(#{name}) || '%'
      </if>
      <if test="fosCd != null and !''.equals(fosCd)">
        AND UPPER(A.fos_cd) LIKE '%' || UPPER(#{fosCd}) || '%'
      </if>
      <if test="century != null">
        AND CEIL(A.death_year / 100.0) = #{century}
      </if>
    </where>
    ORDER BY A.birth_year DESC
  </select>
  
  <select id="searchScientistImages">
    SELECT /* MybatisSampleDao.searchScientistImages */
           A.id
           , A.scientist_id
           , A.seq
           , A.format
           , A.image_desc
           , A.image_date
           , B.name
           , B.birth_year
           , B.death_year
           , (SELECT S.cd_nm from sy_code S WHERE S.cd_grp = 'scientist:fos' AND B.fos_cd = S.cd) AS fos_nm
    FROM   pt_scientist_image A
      LEFT JOIN pt_scientist B ON A.scientist_id = B.id
    <where>
      <if test="imageDesc != null and !''.equals(imageDesc)">
        AND UPPER(A.image_desc) LIKE '%' || UPPER(#{imageDesc}) || '%'
      </if>
      <if test="imageDate != null and !''.equals(imageDate)">
        AND A.image_date LIKE '%' || #{imageDate} || '%'
      </if>
      <if test="name != null and !''.equals(name)">
        AND UPPER(B.name) LIKE '%' || UPPER(#{name}) || '%'
      </if>
      <if test="fosCd != null and !''.equals(fosCd)">
        AND UPPER(B.fos_cd) LIKE '%' || UPPER(#{fosCd}) || '%'
      </if>
      <if test="century != null">
        AND CEIL(B.death_year / 100.0) = #{century}
      </if>
    </where>
  </select>
  
  <insert id="addScientist">
    INSERT /* MybatisSampleDao.addScientist */
      INTO pt_scientist (
        name
        , birth_year
        , death_year
        , fos_cd
        , create_time
        , modify_time
        , create_id
        , modify_id
      ) VALUES (
        #{name}
        , #{birthYear}
        , #{deathYear}
        , #{fosCd}
        , now()
        , now()
        , #{createId}
        , #{modifyId}
      )
  </insert>
  
  <update id="modifyScientistById">
    UPDATE /* MybatisSampleDao.modifyScientistById */
           pt_scientist
       SET name = #{name}
           , birth_year = #{birthYear}
           , death_year = #{deathYear}
           , fos_cd = #{fosCd}
           , modify_time = now()
           , modify_id = #{modifyId}
     WHERE id = #{id}
  </update>
  
  <delete id="removeScientistById">
    DELETE /* MybatisSampleDao.removeScientistById */
      FROM pt_scientist
     WHERE id = #{id}
  </delete>
  
</mapper>
